html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: sans-serif;
    background-color: #fbf2e9;
}

button {
    font-size: inherit;
}

q {
    display: block;
    margin-top: 1em;
}

.hide {
    display: none;
}

.result-container {
    margin-top: 1em;
}
.result-container > div {
    display: inline-block;
}

.result-container > div > div {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.result-container > div > div > input {
    max-width: 5em;
}

.result-container > div> div > span {
    padding-right: 5px;
}

.result-container > div> div > select {
    min-width: 3em;
}
